# Environment variables
.env
.env.local

# Dependency directories
node_modules/

# Logs
*.log
logs/

# IDE/Editor files
.vscode/
.idea/

# macOS files
.DS_Store

# Debug files
*.pid
*.seed

# Build files
dist/
build/

# MongoDB files
data/db/

# Testing
coverage/

# Keys
*.pem

